@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  table {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: right;
  }
  td, th {
    border: 1px solid black;
    padding: 0 0.5rem;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --color-1: #ff0000;
  --color-2: #00ffff;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-size: small;
}
